            <table class="table table-striped jambo_table bulk_action">
                <thead>
                    <tr class="headings">
                        <th class="column-title">Nombre </th>
                        <th class="column-title">Correo Electrónico </th>
                        <th class="column-title">Estado </th>
                        <th class="column-title">Fecha </th>
                        <th class="column-title no-link last"><span class="nobr"></span></th>
                    </tr>
                </thead>
                <tbody>
                    <input type="hidden" value="" id="">
                    <input type="hidden" value="" id="">
                     <input type="hidden" value="" id="">

                    <tr class="even pointer">
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td ><span class="pull-right">
                        <a href="#" class='btn btn-default' title='Editar producto' onclick="obtener_datos('');" data-toggle="modal" data-target=".bs-example-modal-lg-upd"><i class="glyphicon glyphicon-edit"></i></a> 
                        <a href="#" class='btn btn-default' title='Borrar producto' onclick="eliminar('')"><i class="glyphicon glyphicon-trash"></i> </a></span></td>
                    </tr>
                <tr>
                    <td colspan=6><span class="pull-right">
                        
                    </span></td>
                </tr>
              </table>
            </div>
            
         <!--   <div class="alert alert-warning alert-dismissible" role="alert">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <strong>Aviso!</strong> No hay datos para mostrar
            </div>
       -->