{% extends 'base.html' %}       
{% load static %}


{% block content %}
    <div class="right_col" role="main"> <!-- page content -->
        <div class="">
            <div class="page-title">
                <div class="clearfix"></div>
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div> 
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-lg-new"><i class="fa fa-plus-circle"></i> Agregar Categoria</button>
                    </div>
                    <div class="modal fade bs-example-modal-lg-new" tabindex="-1" role="dialog" aria-hidden="true">
                        <div class="modal-dialog modal-md">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span>
                                    </button>
                                    <h4 class="modal-title" id="myModalLabel">Agregar/Editar Categoria</h4>
                                </div>
                                <div class="modal-body">
                                    <form class="form-horizontal form-label-left input_mask" method="post" id="add" name="add">
                                        {% csrf_token %}
                                        <div id="result"></div>
                                         <div class="form-group">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-12">Categoria<span class="required">*</span></label>
                                            <div class="col-md-9 col-sm-9 col-xs-12">
                                              {{form.nombre}}
                                            </div>
                                        </div>
                                        <div class="ln_solid"></div>
                                        <div class="form-group">
                                            <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
                                              <button id="save_data" type="submit" class="btn btn-success">Guardar</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                                </div>
                            </div>
                        </div>
                    </div> <!-- /Modal -->
                    <div class="modal fade bs-example-modal-lg-udp" tabindex="-1" role="dialog" aria-hidden="true">
                        <div class="modal-dialog modal-md">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span>
                                    </button>
                                    <h4 class="modal-title" id="myModalLabel"><i class="fa fa-plus-pencil"></i> Editar Categoria</h4>
                                </div>
                                <div class="modal-body">
                                    <form class="form-horizontal form-label-left input_mask" method="POST" id="upd" name="upd" action="/categorias/editar/">
                                        {% csrf_token %}
                                        <input type="text" style="display: none;" id="pk" name="pk">
                                        <div id="result2"></div>
                                        <input type="hidden" name="mod_id" id="mod_id">
                                        <div class="form-group">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-12">Nombre Categoria<span class="required">*</span>
                                            </label>
                                            <div class="col-md-9 col-sm-9 col-xs-12">
                                                <input type="text" required name="nombre" class="form-control col-md-7 col-xs-12" id="categoria">
                                            </div>
                                        </div>
                                        <div class="ln_solid"></div>
                                        <div class="form-group">
                                            <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
                                              <button id="upd_data" type="submit" class="btn btn-success">Guardar</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="x_panel">
                        <div class="x_title">
                            <h2>Categorias</h2>
                            <ul class="nav navbar-right panel_toolbox">
                                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                </li>
                                <li><a class="close-link"><i class="fa fa-close"></i></a>
                                </li>
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                        
                        <!-- Form search -->
                        <form class="form-horizontal" role="form" id="ingresos">
                            <div class="form-group row">
                                <label for="q" class="col-md-2 control-label">Numero</label>
                                <div class="col-md-4">
                                    <input type="text" class="form-control" id="q" placeholder="Numero de Expediente" onkeyup='load(1);'>
                                </div>
                                <div class="col-md-3">
                                    <button type="button" class="btn btn-default" onclick='load(1);'>
                                        <span class="glyphicon glyphicon-search" ></span> Buscar</button>
                                    <span id="loader"></span>
                                </div>
                            </div>
                        </form>     
                        <!-- end Form search -->


                        <div class="x_content">
                            <div class="table-responsive">
                                <table class="table table-striped jambo_table bulk_action">
                                    <thead>
                                        <tr class="headings">
                                            <th class="column-title">Nombre</th>
                                            <th class="column-title no-link last"><span class="nobr"></span></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for c in categorias %}
                                            <tr class="even pointer">
                                                <td style="width: 200px"> {{c.nombre}}</td>
                                                <td style="width: 150px"><span class="pull-right">
                                                <a href="#" class='btn btn-default' title='Editar producto' onclick="obtener_datos('{{c.pk}}','{{csrf_token}}','c');" data-toggle="modal" data-target=".bs-example-modal-lg-udp"><i class="glyphicon glyphicon-edit"></i></a> 
                                                <a href="#" class='btn btn-default' title='Borrar producto' onclick="eliminar('{{c.pk}}','{{csrf_token}}','c')"><i class="glyphicon glyphicon-trash"></i> </a></span></td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- /page content -->

{% endblock %}