{% extends 'base.html' %}       
{% load static %}

{% block content %}
    <div class="right_col" role="main"><!-- page content -->
        <div class="">
            <div class="page-title">
                <div class="clearfix"></div>
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div> 
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-lg-new"><i class="fa fa-plus-circle"></i> Agregar Desarrolladora</button>
                    </div>
                    <div class="modal fade bs-example-modal-lg-new" tabindex="-1" role="dialog" aria-hidden="true">
                        <div class="modal-dialog modal-md">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span>
                                    </button>
                                    <h4 class="modal-title" id="myModalLabel">Nueva Desarrolladora</h4>
                                </div>
                                <div class="modal-body">
                                    <form class="form-horizontal form-label-left input_mask" method="post" id="add" name="add">
                                        {% csrf_token %}
                                        <div id="result"></div>
                                        <div class="form-group">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-12">Desarrolladora<span class="required">*</span>
                                            </label>
                                            <div class="col-md-9 col-sm-9 col-xs-12">
                                              {{form.nombre}}
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-12">Representante Legal<span class="required">*</span>
                                            </label>
                                            <div class="col-md-9 col-sm-9 col-xs-12">
                                              {{form.representante}}
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-12">Propietario
                                            </label>
                                            <div class="col-md-9 col-sm-9 col-xs-12">
                                              {{form.propietario}}
                                            </div>
                                        </div>
                                        <div class="ln_solid"></div>
                                        <div class="form-group">
                                            <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
                                              <button id="save_data" type="submit" class="btn btn-success">Guardar</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                                </div>
                            </div>
                        </div>
                    </div> <!-- /Modal -->
                    
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>Desarrolladoras y Representantes </h2>
                            <ul class="nav navbar-right panel_toolbox">
                                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                </li>
                               
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                        <!-- form search -->
                        <form class="form-horizontal" role="form" id="category_expence">
                            <div class="form-group row">
                                <label for="q" class="col-md-2 control-label">Desarrolladora</label>
                                <div class="col-md-4">
                                    <input type="text" class="form-control" id="q" placeholder="Nombre de la Desarrolladora" onkeyup='load(1);'>
                                </div>
                                <div class="col-md-3">
                                    <button type="button" class="btn btn-default" onclick='load(1);'>
                                        <span class="glyphicon glyphicon-search" ></span> Buscar</button>
                                    <span id="loader"></span>
                                </div>
                            </div>
                        </form>    
                        <!-- end form search -->

                        <div class="x_content">
                            <div class="table-responsive">
                                <!-- ajax -->
                                <table class="table table-striped jambo_table bulk_action">
                                    <thead>
                                        <tr class="headings">
                                            <th class="column-title">Desarrolladora </th>
                                            <th class="column-title">Representante legal </th>
                                            <th class="column-title">Propietario </th>
                                            <th class="column-title no-link last"><span class="nobr"></span></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <input type="hidden" value="" id="">
                                        <input type="hidden" value="" id="">
                                        <input type="hidden" value="" id="">
                                        {% for d in desarrolladoras %}
                                        <tr class="even pointer">
                                            <td>{{d.nombre}}</td>
                                            <td>{{d.representante}}</td>
                                            {% if d.propietario == none %}
                                                <td>-</td>
                                            {% else %}
                                                <td>{{d.propietario}}</td>
                                            {% endif %}
                                            <td ><span class="pull-right">
                                            <a class='btn btn-default' title='Editar desarrolladora' href ="/desarrolladoras/editar/{{d.pk}}/"><i class="glyphicon glyphicon-edit"></i></a> 
                                            <a class='btn btn-default' title='Borrar producto' onclick="eliminar('{{d.pk}}','{{csrf_token}}','d')"><i class="glyphicon glyphicon-trash"></i> </a></span></td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                                <!-- /ajax -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- /page content -->

<script type="text/javascript" src="{% static 'js/category.js' %}"></script>

<script>
$( "#add" ).submit(function( event ) {
  $('#save_data').attr("disabled", true);
  
 var parametros = $(this).serialize();
     $.ajax({
            type: "POST",
            url: "action/addcategory.php",
            data: parametros,
             beforeSend: function(objeto){
                $("#result").html("Mensaje: Cargando...");
              },
            success: function(datos){
            $("#result").html(datos);
            $('#save_data').attr("disabled", false);
            load(1);
          }
    });
  event.preventDefault();
})

// success

$( "#upd" ).submit(function( event ) {
  $('#upd_data').attr("disabled", true);
  
 var parametros = $(this).serialize();
     $.ajax({
            type: "POST",
            url: "action/updcategory.php",
            data: parametros,
             beforeSend: function(objeto){
                $("#result2").html("Mensaje: Cargando...");
              },
            success: function(datos){
            $("#result2").html(datos);
            $('#upd_data').attr("disabled", false);
            load(1);
          }
    });
  event.preventDefault();
})

    function obtener_datos(id){
            var name = $("#name"+id).val();
            $("#mod_id").val(id);
            $("#mod_name").val(name);
        }
</script>

{% endblock %}