{% extends 'base.html' %}       
{% load static %}

{% block content %}
    <div class="right_col" role="main"> <!-- page content -->
        <div class="">
            <div class="page-title">
                <div class="clearfix"></div>
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div> 
                        <a href="/proyectos/"><button type="button" class="btn btn-primary" >Regresar</button></a>
                        {% if responsable == request.user %}
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-lg-new"><i class="fa fa-plus-circle"></i> Agregar Ingreso</button>
                        {% endif %}
                    </div>
                    <div class="modal fade bs-example-modal-lg-new" tabindex="-1" role="dialog" aria-hidden="true">
                        <div class="modal-dialog modal-md">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span>
                                    </button>
                                    <h4 class="modal-title" id="myModalLabel">Agregar Ingreso</h4>
                                </div>
                                <div class="modal-body">
                                    <form class="form-horizontal form-label-left input_mask" method="post" id="add" name="add" enctype="multipart/form-data">
                                        {% csrf_token %}
                                        <div id="result"></div>
                                         <div class="form-group">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-12">Folio de ingreso<span class="required">*</span></label>
                                            <div class="col-md-9 col-sm-9 col-xs-12">
                                              {{form.folio}}
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-12">Fecha de ingreso<span class="required">*</span></label>
                                            <div class="col-md-9 col-sm-9 col-xs-12">
                                              {{form.fecha_ingreso}}
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-12">Documentos<span class="required">*</span></label>
                                            <div class="col-md-9 col-sm-9 col-xs-12">
                                              <input type="file" class="form-control" name="files" multiple>
                                            </div>
                                        </div>
                                        <div class="ln_solid"></div>
                                        <div class="form-group">
                                            <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
                                              <button id="save_data" type="submit" class="btn btn-success">Guardar</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                                </div>
                            </div>
                        </div>
                    </div> <!-- /Modal -->
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>Ingresos</h2>
                            <ul class="nav navbar-right panel_toolbox">
                                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                </li>
                                <li><a class="close-link"><i class="fa fa-close"></i></a>
                                </li>
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                        
                        <!-- Form search -->
                        <form class="form-horizontal" role="form" id="ingresos" >
                            <div class="form-group row">
                                <label for="q" class="col-md-2 control-label">Buscar:</label>
                                <div class="col-md-4">
                                    <input type="text" class="form-control" id="searchTerm" placeholder="Ingresa el texto..." onkeyup="doSearch()">
                                </div>
                                <div class="col-md-3">
                                    <button type="button" class="btn btn-default" onclick='doSearch()'>
                                        <span class="glyphicon glyphicon-search" ></span> Buscar</button>
                                    <span id="loader"></span>
                                </div>
                            </div>
                        </form>     
                        <!-- end Form search -->


                        <div class="x_content">
                            <div class="table-responsive">
                                <table class="table table-striped jambo_table bulk_action" id="datos">
                                    <thead>
                                        <tr class="headings">
                                            <th class="column-title">Folio Ingreso</th>
                                            <th class="column-title">Fecha de Ingreso</th>
                                            <th class="column-title">Fecha Programada</th>
                                            <th class="column-title">Oficio Respuesta</th>
                                            <th class="column-title">Fecha de Respuesta</th>
                                            <th class="column-title">Dias CEA</th>
                                            <th class="column-title">Dias externos</th>
                                            <th class="column-title">Observaciones</th>
                                            <th class="column-title">Status</th>
                                            <th class="column-title">No Ingreso</th>
                                            <th class="column-title no-link last"><span class="nobr"></span></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for i in ingresos %}
                                            <tr class="even pointer">
                                                <td style="width: 200px"> {{i.folio}}</td>
                                                <td style="width: 200px"> {{i.fecha_ingreso}}</td>
                                                <td style="width: 200px"> {{i.fecha_programada}}</td>
                                                {% if i.oficio == None %}
                                                <td style="width: 200px">-</td>
                                                {% else %}
                                                    <td style="width: 200px"> {{i.oficio}}</td>
                                                {% endif %}
                                                {% if i.fecha_respuesta == None %}
                                                    <td style="width: 200px">-</td>
                                                {% else %}
                                                    <td style="width: 200px"> {{i.fecha_respuesta}}</td>
                                                {% endif %}
                                                {% if i.dias == None %}
                                                <td style="width: 200px">-</td>
                                                {% else %}
                                                    <td style="width: 200px"> {{i.dias}}</td>
                                                {% endif %}
                                                {% if i.externos == None %}
                                                <td style="width: 200px">-</td>
                                                {% else %}
                                                    <td style="width: 200px"> {{i.externos}}</td>
                                                {% endif %}
                                                {% if i.observaciones == None %}
                                                <td style="width: 200px">-</td>
                                                {% else %}
                                                    <td style="width: 200px"> {{i.observaciones}}</td>
                                                {% endif %}
                                                <td style="width: 200px"> {{i.status}}</td>
                                                <td style="width: 200px"> {{i.ingreso}}</td>
                                                <td style="width: 150px"><span class="pull-right">
                                                {% if i.status.status != "R" %}
                                                    <a class='btn btn-default' title='Descargar respuestas' href ="/user/proyectos/ingresos/archivos/{{i.pk}}/"><i class="glyphicon glyphicon-download"></i></a> 
                                                {% endif %}
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- /page content -->
    <script>
        function doSearch(){
            const tableReg = document.getElementById('datos');
            const searchText = document.getElementById('searchTerm').value.toLowerCase();
            let total = 0;

            // Recorremos todas las filas con contenido de la tabla
            for (let i = 1; i < tableReg.rows.length; i++) {
                // Si el td tiene la clase "noSearch" no se busca en su cntenido
                if (tableReg.rows[i].classList.contains("noSearch")) {
                    continue;
                }

                let found = false;
                const cellsOfRow = tableReg.rows[i].getElementsByTagName('td');
                // Recorremos todas las celdas
                for (let j = 0; j < cellsOfRow.length && !found; j++) {
                    const compareWith = cellsOfRow[j].innerHTML.toLowerCase();
                    // Buscamos el texto en el contenido de la celda
                    if (searchText.length == 0 || compareWith.indexOf(searchText) > -1) {
                        found = true;
                        total++;
                    }
                }
                if (found) {
                    tableReg.rows[i].style.display = '';
                } else {
                    // si no ha encontrado ninguna coincidencia, esconde la
                    // fila de la tabla
                    tableReg.rows[i].style.display = 'none';
                }
            }
        }
    </script>
{% endblock %}